{% extends 'base.html' %}

{% load static %}

{% block title %}
    Trink
{% endblock %}

{% block content %}
    <h1>Trink</h1>

    {% if user.is_authenticated %}        
        <h2>Links encurtados:</h2>

        <table id="links-table">
             <thead>
                <tr>
                    <th>URL</th>
                    <th>URL encurtada</th>
                    <th>Criada em</th>
                    <th>Expira em</th>
                </tr>
            </thead>
        </table>
        <p><a href="{% url 'logout' %}">Fazer logout</a></p>
        
    {% else %}
        <p>Você não está logado.</p>
        <a href="{% url 'login' %}">Fazer login</a>
        <br>
        <a href="{% url 'signup' %}">Criar uma conta</a>
    {% endif %}

    {% block javascript%}
    <script>
        $(document).ready(function(){
            $.ajax({
                    url: '{% url "links" %}',
                    dataType: 'json',
                    type: 'get',
                    cache: false,
                    success: function(data) {
                        var event_data = '';
                        $.each(data.links, function(index, value) {
                            event_data += '<tr>';
                            event_data += '<td><a href="' + value.url + '">' + value.url + '</td>';
                            event_data += '<td><a href="' + '{% url "redirect" %}' + value.shortened_url + '">' + value.shortened_url + '</td>';
                            event_data += '<td>' + value.created_at.slice(0, -8) + '</td>';
                            event_data += '<td>' + value.expires_at.slice(0, -8) + '</td>';
                            event_data += '</tr>';
                        });
                        $("#links-table").append(event_data);
                    },
                    error: function(d) {
                        alert("404. Please wait.");
                    }
                });
            });
    </script>
    {% endblock javascript %}
{% endblock %}